body {
    
      background-color: lightblue;
  
    padding: 20px;
    margin: 0;
  }
  table {
    border-collapse: collapse;
    width: 1000px;
  }
  
  table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 15px;
    text-align: center;
  }
  th {
    background-color: #008080;
    color: white;
  }
  td{
    text-align: center;
  }
  p {
    font-family: "Times New Roman", Times, serif;
  }
  .title {
    color: white;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #24CED0;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #FFF;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  
  .boxWhite {
    height: 700px;
    background: white;
  }
  
  
  .ctr {
    text-align: center;
  }